<p>about works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="./assets/images/img6.jpg" align="left"/>
    <h2 align="center">About Us</h2>
    <h3>Why Choose Us:</h3>
        <p>We help YOU achieve VIBRANT HEALTH with permanent results…</p>
        <p>Good nutrition is probably the single most important factor in determining health. 
       The food choices you make today will influence your life expectancy, your body’s ability to combat chronic disease and the quality of your life, as well as your family’s health. 
       We don’t believe in quick fix diets, but rather in supporting people to make positive changes for the long-term.</p>
        <p>A Nutritionist is qualified to analyze your diet, and a Lifestyle Consultant Doctor is qualified in analyzing the health risk factors 
        in detail and make recommendations for improvement.</p>
        <p>Our EDGE is that we have both heading our TEAM. Recommendations might include re-balancing major food groups (protein, carbohydrate and fat), 
           identifying important nutrients lacking from your diet, suggestions of alternative foods, and meal planning. 
           Nutritionists look for imbalances within the systems of your body, and use food and nutrition to correct them.</p>
        <p>Weight loss, for example, is never as simple as telling someone to eat less. 
            Our Balanced program is tailored to suit you and your lifestyle with plenty of practical and emotional support – 
            such as shopping lists, recipes, snack ideas, and strategies for emotional eating.</p>  
        <p>A healthy diet is essential for good health and nutrition. 
       It protects you against many chronic noncommunicable diseases, 
       such as heart disease, diabetes and cancer. 
       Eating a variety of foods and consuming less salt, sugars and saturated 
       and industrially-produced trans-fats, are essential for healthy diet.</p>
</body>
</html>