<p>contactus works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
    <h2>Connect with us</h2>
    <div class="Contact-box">
        <div class="contact-left">
            <h3>Send your Request</h3>
        </div>
        <form>
            <label>Name</label><br>
            <input type="text"/><br>
            <label>Email</label><br>
            <input type="text"/><br>
            <label>Contact</label><br>
            <input type="number"/><br>
            <label>Message</label><br>
            <textarea name="" id="" cols="30" rows="5"></textarea><br>
            <input type="submit" name="send" value="send"/>
        </form>
        <br>
        <br>
        <div class="contact-right">
            <h3>Reach Us</h3>
            <table>
                <tr>
                    <td>Email:</td>
                    <td>Contactus@gmail.com</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>+1 013 456 789</td>
                </tr>
                <tr>
                    <td>Adress:</td>
                    <td>#3212, ground floor,<br> 7th cross,<br>mumbai 400104</td>
                </tr>

            </table>



        </div>
        
    
    </div>
    </div>

</body>
</html>