h5{
    color:green;
}
footer
{
    background-color: black;
}
p{
    color: white;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
    text-align: center;;
}
p{
    color: rgb(24, 24, 241);
}
h6{
    text-align: center;
    color: black;
    background-color: antiquewhite;
    height: auto;
    width: auto;

}