<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>home works!</p><br><br>
    <h1 align="center">Healthy Foods & Healthy Life</h1>
    <br>
    <h3>Healthy Diet :-</h3><br>
    <p>Consuming a healthy diet throughout the life-course helps to prevent malnutrition in all its forms as well as a range <br> 
        of noncommunicable diseases (NCDs) and conditions. However, increased production of processed foods,<br> 
        rapid urbanization and changing lifestyles have led to a shift in dietary patterns. People are now consuming<br> 
        more foods high in energy, fats, free sugars and salt/sodium, and many people do not eat enough<br>
        fruit, vegetables and other dietary fibre such as whole grains.</p>
    <p>The exact make-up of a diversified, balanced and healthy diet will vary depending on individual characteristics<br>
        (e.g. age, gender, lifestyle and degree of physical activity), cultural context, locally available foods and<br>
        dietary customs. However, the basic principles of what constitutes a healthy diet remain the same.</p>
    <p>A healthy diet includes the following:</p>
        <ul>
            <li>Fruit, vegetables, legumes (e.g. lentils and beans), nuts and whole grains (e.g. unprocessed maize, millet, <br>
                oats, wheat and brown rice).</li>
           <li>At least 400 g (i.e. five portions) of fruit and vegetables per day (2), excluding potatoes, sweet potatoes, cassava <br>and other starchy roots.</li>
           <li>Less than 10% of total energy intake from free sugars (2, 7), which is equivalent to 50 g Free sugars are all sugars added<br>
               to foods or drinks by the manufacturer, or consumer, as well as sugars naturally present in honey, syrups, fruit juices <br>
               and fruit juice concentrates.</li>
           <li>Less than 30% of total energy intake from fats (1, 2, 3). Unsaturated fats (found in fish, avocado and nuts, and in sunflower, soybean, <br>canola and olive oils) are preferable to saturated fats (found in fatty meat, butter, palm and coconut oil, cream, cheese,<br> 
               ghee and lard) and trans-fats of all kinds, including<br>
       both industrially-produced trans-fats (found in baked and fried foods, and pre-packaged snacks and foods,<br> 
       such as frozen pizza, pies, cookies, biscuits, wafers, and cooking oils and spreads)<br>
       and ruminant trans-fats (found in meat and dairy foods from ruminant animals, such as cows, sheep, goats and camels).<br> 
       It is suggested that the intake of saturated fats be reduced to less than 10% of total energy intake and trans-fats to<br> 
       less than 1% of total energy intake (5). In particular, industrially-produced trans-fats are not part of a healthy diet<br> 
       and should be avoided (4, 6).</li>
           <li>Less than 5  g of salt (equivalent to about one teaspoon) per day (8).  Salt should be iodized.</li>
        </ul>
    
</body>
</html>



