body{
    background-image: url('../../assets/images/img9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
width: 80%;
margin: 50px auto;

}
.contact-box{
    background-color: white;
    display: flex;
}
.contact-left{
    text-align: left;
    flex-basis: 60%;
    padding:40px 60px;
    
}
.contact-right{
    text-align: left;
    
}
h2{
    color: green;
    text-align: center;
}
h3{
    color: green;
   
}