<p>service works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center">Our Services</h2><br><br><br>
    <div class="row">
        <div class="col-4" align="center"><i class="fa-solid fa-apple-whole fa-2x"></i><br><br><h5>Organic Food</h5>
        <p>Organic food is grown without the use of synthetic chemicals, such as human-made pesticides and fertilizers, and does not contain genetically modified organisms (GMOs). Organic foods include fresh produce, meats, and dairy products as well as processed foods such as crackers, drinks, and frozen meals.</p><br>
    </div>
        <div class="col-4" align="center"><i class="fa-solid fa-ribbon fa-2x"></i><br><br><h5>High quality</h5>
        <p>Organic foods contain higher levels of certain nutrients, lower levels of pesticides, and may provide health benefits for the consumer.</p>
    <br></div>
    <div class="col-4" align="center"><i class="fa-solid fa-truck-fast fa-2x"></i><br><br><h5>Fast Delivery</h5>
        <p>Ensure Fast Delivery Of Your Online Orders. Get Pickups From Multiple Locations. Sign-Up. Integrate Sales Channels In A Few Clicks. Fast Ecommerce Delivery Made Easy. Sign-Up.</p>
    <br></div>
    <div class="col-4" align="center"><i class="fa-solid fa-arrow-rotate-left fa-2x"></i><br><br><h5>Easy Returns</h5>
        <p> Easy Return Solution (ERS) is a returns service enabling postal operators within the E-Parcels Group (EPG) to collaborate on returning cross-border parcels to e-retailers. In simple terms, it allows e-customers in country A to return goods to e-sellers in country B free of charge.</p>
    </div>
        <div class="col-4" align="center"><i class="fa-solid fa-truck fa-2x"></i><br><br><h5>Free Delivery</h5>
        <p>Free shipping is an increasingly-popular option for online shopping, where customers do not have to pay an additional shipping charge.</p>
    </div>
        <div class="col-4" align="center"><i class="fa-solid fa-headset fa-2x"></i><br><br><h5>24*7 Support</h5>
        <p>Customer service strategy that involves providing support 24 hours a day, and 7 days a week. In other words, a 24/7 support model ensures that a customer is able to get their issue resolved no matter </p>
    </div>
    </div>
</body>
</html>