<p>review works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container d-flex justify-content-center mt-100 mb-100">
    <div class="row">
        <div class="col-md-12">
  
          <div class="card">
                              <div class="card-body">
                                  <h2 class="card-title">People Reviews</h2>
                              <div class="comment-widgets m-b-20">
  
                                  <div class="d-flex flex-row comment-row">
                                      <div class="p-2"><span class="round"><img src="https://i.imgur.com/uIgDDDd.jpg" alt="user" width="50"></span></div>
                                      <div class="comment-text w-100">
                                          <h5>Samso Nagaro</h5>
                                          <div class="comment-footer">
                                              <span class="date">April 14, 2019</span>
                                              <span class="label label-info">Pending</span> <span class="action-icons">
                                                      <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                                  </span>
                                          </div>
                                          <p class="m-b-5 m-t-10">Samso Nagaroh as written a very good, easily read book about what is wrong with the food supply in today's world. If you have been on the fence about whether it matters if you spend a little more for Organic groceries, this book is for you. Read and understand what goes on behind the scenes in the factory suppliers of vegetables. Do you think it's alarming the asthma and allergy instances among children are skyrocketing? Read and inform yourself before the next trip to the grocery.</p>
                                        </div>
                                  </div>
  
                                  <div class="d-flex flex-row comment-row ">
                                      <div class="p-2"><span class="round"><img src="https://i.imgur.com/tT8rjKC.jpg" alt="user" width="50"></span></div>
                                      <div class="comment-text active w-100">
                                          <h5>Jonty Andrews</h5>
                                          <div class="comment-footer">
                                              <span class="date">March 13, 2020</span>
                                              <span class="label label-success">Approved</span> <span class="action-icons active">
                                                      <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-rotate-right text-success"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-heart text-danger"></i></a>
                                                  </span>
                                          </div>
                                          <p class="m-b-5 m-t-10">Jonty Andrews has written a very good, easily read book about what is wrong with the food supply in today's world. If you have been on the fence about whether it matters if you spend a little more for Organic groceries, this book is for you. Read and understand what goes on behind the scenes in the factory suppliers of vegetables. Do you think it's alarming the asthma and allergy instances among children are skyrocketing? Read and inform yourself before the next trip to the grocery.</p>
                                        </div>
                                  </div>
  
                                  <div class="d-flex flex-row comment-row">
                                      <div class="p-2"><span class="round"><img src="https://i.imgur.com/cAdLHeY.jpg" alt="user" width="50"></span></div>
                                      <div class="comment-text w-100">
                                          <h5>Sarah Tim</h5>
                                          <div class="comment-footer">
                                              <span class="date">Jan 20, 2020</span>
                                              <span class="label label-danger">Rejected</span> <span class="action-icons">
                                                      <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                                  </span>
                                          </div>
                                          <p class="m-b-5 m-t-10">Sarah Tim offers a good introduction to the natural food movement. Written primarily for a popular audience, the book combines research with short histories, case studies and profiles of prominent personalities and companies that have shaped the industry. Although the author's frequent interjections about his own personal experiences and infatuations with organics becomes somewhat annoying, overall the book succeeds in granting insight into the organic movement, its foundational ideals and the possibilities for the future.</p>

                                        </div>
                                  </div>
  
                                  <div class="d-flex flex-row comment-row">
                                      <div class="p-2"><span class="round"><img src="https://i.imgur.com/uIgDDDd.jpg" alt="user" width="50"></span></div>
                                      <div class="comment-text w-100">
                                          <h5>Samso Nagaro</h5>
                                          <div class="comment-footer">
                                              <span class="date">March 20, 2020</span>
                                              <span class="label label-info">Pending</span> <span class="action-icons">
                                                      <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                      <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                                  </span>
                                          </div>
                                          <p class="m-b-5 m-t-10">Sarah Tim provides a brief history of organic farming as an alternative to a deeply flawed agro-industrial production system. We learn that organic methods were developed for ideologically diverse reasons but tends to produce nutritionally superior foods when compared with conventional farming practices. Although yields are usually smaller, the author discusses how organic strawberry farms in California are an example of how organics can outperform when allowing for decreases in energy and fertilizer input.</p>

                                        </div>
                                  </div>
                              </div>
                          </div>
  
        </div>
    </div>
  </div>
  </div></body></html>