<p>Sign-In works</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>SignIn</h2>
    <br>
    <form>
        <label>Email Adress</label><br>
        <input type="text"/><br>
        <label>Password</label>
        <br>
        <input type="password"/><br>
        <input type="checkbox"/> Remember me
        <br>
        <br>
        <input type="submit" value="SignIn" name="SignIn"/>
        <br>
       <p><a href="#">Forgot your password</a></p>
        </form>
        </body>
        </html>